:root {
    --blue: #b8fbff; 
    --pink: #f8c4e4; 
}

/* Main */
html {
    margin: 0vh 10vh; 
}
body {
    background-color: var(--blue);
    height: 100vh;
    border: black;
    border-width: 1px;
    border-style: solid;
}
a, i {
  color: var(--pink);
}
a:hover {
    text-decoration: none;
    color: white; 
}

/* Navigation */
.name-div {
    padding-top: 8vh; 
    width: 400px; 
    height: 18vh;
    font-size: 0;
    line-height: 0;
    float: left;
}
.nav-bar {
    float: left;
    height: 18vh;
    margin-left: 400px; 
    width: 100vw;  
}
.name {
    font-size: 8vh;
    margin-bottom: 6vh;
    display: inline-block;
}
.name:hover {
    color: var(--pink);
}
.title {
    font-size: 4vh; 
    margin: 0;
    display: inline-block;
}

/* Side-Bar */
.side-bar {
    margin-top: 18vh; 
    border: black;
    border-width: 1px;
    border-style: solid;
    width: 18vh; 
    height: 82vh;
}
.icons {
    position: relative;
    border: blue;
    border-width: 1px;
    border-style: solid;
    height: 25vh;
    font-size: 10vh;
}
.github {
    position: absolute;
    top: 0vh;
    left: 0px;
}
.linkedin {
    position: absolute;
    top: 13vh;
    left: 0px;
}
.image {
    position: relative;
    margin-left: -10vh; 
    border: red;
    border-width: 1px;
    border-style: solid;
    height: 57vh;
}
.bitmoji {
    position: absolute;
    height: 50vh;
    top: 7vh;
    left: 0px;
}

/* Projects */
.projects {
    float: left;
    border: yellow;
    border-width: 1px;
    border-style: solid;
}

/* Media Query */
@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}