:root {
    --blue: #003274; 
    --grey: #475574; 
}

html {
    height: 100%;
    margin: 0vh 5vh; 
    font-family: 'Josefin Sans', sans-serif;
}
/* Header */
/* Navigation */
.nav-bar {
    display: flex;
    font-size: 24px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li:not(:last-child) {
    margin-bottom: 5px;
}

/* Main */
body {
    background-color: white;
    height: 100vh;
    /* border: black;
    border-width: 1px;
    border-style: solid; */
}
a {
  color: var(--blue);
}
a:hover {
    text-decoration: none;
    color: var(--blue);
}
main {
    display: flex;
}

/* Side-Bar */
.side-bar {
    /* border: black;
    border-width: 1px;
    border-style: solid; */
    width: 100px;
    position: absolute;
    font-size: 10vh;
    text-align: center;
    margin-left: 40px
}
.icon {
    font-size: 70px;
    line-height: 60px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.icon:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}

/* Projects */
.projects {
    /* border: red;
    border-width: 1px;
    border-style: solid; */
    margin-left: 208px;
    width: 100%;
}
.projects .row {
    justify-content: flex-start;
}
.card {
    border: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.card:hover .circle {
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}

.card-img-overlay {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
.circle {
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}


/* About */
.about {
    color: var(--blue);
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
    margin-top: 23px;
}
.about h2 {
    font-size: 24px
}
.buttons {
    margin-top: 76px;
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
}
button {
    color: white;
    display: inline-block;
    background: var(--blue);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
button:hover {
    color: white;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}
button a {
    color: white;
}
button a:hover {
    color: white;
}
  

/* Media Query */
@media (min-width: 280px) {
    html {
        margin: 0vh 2vh;
    }
    main {
        position: relative;
        min-height: calc(100vh - 70px);
    }
    .side-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: 0px;
    }
    .projects {
        margin-left: 0px;
        padding-bottom: 100px;
    }
    .projects .row {
        justify-content: center;
    }
    .linkedin-icon {
        margin: 0px 15px;
    }
}

@media (min-width: 390px) {
    .linkedin-icon {
        margin: 0px 60px;
    }
}

@media (min-width: 582px) {
    .projects {
        padding-bottom: 0px;
    }
}

@media (min-width: 640px) {
    html {
        margin: 0vh 5vh;
    }
    .side-bar {
        width: 100px;
        position: absolute;
        font-size: 10vh;
        text-align: center;
        margin-left: 36px;
        bottom: inherit;
    }
    .linkedin-icon {
        margin: 0px 0px;
    }
    .projects {
        margin-left: 208px;
        width: 100%;
    }
    .projects .row {
        justify-content: flex-start;
    }
}
