:root {
    --blue: #003274; 
    --grey: #6c757d; 
}

html {
    height: 100%;
    background-color: white;
    margin: 0 1vh;
}
h3 {
    font-weight: 700; 
    font-size: 23px;
}
h6 {
    color: var(--grey);
    font-weight: 300;
}
a {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--blue);
}
a:hover {
    text-decoration: none;
    color: var(--blue);
}

/* Header */
header {
    /* border: black;
    border-width: 1px;
    border-style: solid; */
    
}
/* Navigation */
.nav-bar {
    border-style: solid;
    position:relative;
    border-width: 3px;
    border-image: 
        linear-gradient(
            to left, hsla(214.1,100%,22.7%, 0) 0%,
            hsla(214.1,100%,22.7%,1) 50%, 
            hsla(214.1,100%,22.7%,0) 100%
        ) 0 0 100% 0/0 0 4px 0 stretch;
    width: 100%;
}
.logo {
    margin-top: 8px; 
}


/* Main */
main {
    display: flex;
    position: relative;
}

/* Side-Bar */
.side-bar {
    /* border: black;
    border-width: 1px;
    border-style: solid; */
    width: 100px;
    font-size: 10vh;
    text-align: center;
    margin-left: 40px;
}
.icon {
    font-size: 70px;
    line-height: 60px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.icon:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}

/* Projects */
.projects {
    /* border: red;
    border-width: 1px;
    border-style: solid; */
    margin-left: 208px;
    width: 100%;
    margin-top: 8px;
}
.projects .row {
    justify-content: flex-start;
}
.card {
    /* border: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4); */
    /* background: #dde1e7; */
    background: black;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.card:hover .circle {
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}

.circle {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    background-color: white;
    border: black solid 1px;
    border-radius: 50%;
    top: 4rem;
    margin-left: 1.5rem;
    height: 7rem;
    width: 7rem;
    display: table;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.circle-text {
    position: relative;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.subtitle {
    position: absolute;
    bottom: 0;
    margin-left: 21px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 11px;
}
/* Specific Cards */
.zebra {
    height: 15rem;
    width: 10rem;
    border: black solid 1px;
    background-color: #123859;
    background-image: url(../images/full-stack/zebra-vector.png);
    background-size: cover;
    background-blend-mode: screen;
    background-position: 24%;
}
.the {
    line-height: 0px;
}

/* About */
.about {
    color: var(--blue);
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
    margin-top: 23px;
}
.buttons {
    margin-top: 76px;
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
}
button {
    color: white;
    display: inline-block;
    background: var(--blue);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.skills {
    font-size: 30px;
}
button:hover {
    color: white;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}
button a {
    color: white;
}
button a:hover {
    color: white;
}
  

/* Media Query */
@media (min-width: 001px) {
    header {
        height: 375px;
        text-align: center;
    }
    .nav-bar {
        margin-bottom: 17px;
    }
    main {
        margin-top: 0px;
        padding-bottom: 109px;
    }
    .side-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: 0px;
    }
    .projects {
        margin-left: 0px;
    }
    .projects .row {
        justify-content: center;
    }
    .linkedin-icon {
        margin: 0px 15px;
    }
    html {
        margin: 0vh 1vh; 
    }
    ul {
        position:relative; 
        bottom:0px;
        list-style-type: none;
        font-size: 30px;
        margin-bottom: 10px;
        padding-left: 0px; 
    }
    .my-work {
        padding: 5px 0;
    }
}

@media (min-width: 390px) {
    header {
        height: 200px;
        display: flex;
    }
    .linkedin-icon {
        margin: 0px 60px;
    }
    ul {
        position: absolute;
        padding-left: 40px; 
        text-align: left;
    }
}

@media (min-width: 635px) {
    header {
        background-color: white;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    ul {
        margin-bottom: 0px;
        text-align: justify;
        padding: 0px 40px;
        width: 100%;
        line-height: 9px;
        list-style-type: none;
    }
    ul:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    li {
        display: inline-block;
    }
    .projects .row {
        /* justify-content: start; */
        margin: 0 auto;
    }
}

@media (min-width: 750px) {
    header {
        height: 180px;
    }
    main {
        margin-top: 17px;
    }
    .nav-bar {
        margin-bottom: 0px;
    }
    .side-bar {
        width: 100px;
        font-size: 10vh;
        text-align: center;
        margin-left: 36px;
        bottom: inherit;
        position: fixed;
    }
    .linkedin-icon {
        margin: 0px 0px;
    }
    .projects {
        margin-left: 208px;
        width: 100%;
    }
    .projects .row {
        justify-content: center;
        margin: 0 0vh;
    }
    main {
        padding-bottom: 20px;
    }
    html {
        margin: 0vh 1vh; 
    }
}
@media (min-width: 751px) {
    .projects .row {
        justify-content: start;
    }
}


@media (min-width: 999px) {
    .projects .row {
        justify-content: start;
    }
}
