:root {
    --blue: #003274; 
    --grey: #475574; 
}

html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dde1e7;
    margin: 0 1vh;
}
body {
    background-color: #dde1e7;
}
h2 {
    font-size: 24px;
    color: var(--blue);
    text-align: center; 
}
a {
    color: var(--blue);
}
a:hover {
    text-decoration: none;
    color: var(--blue);
}

/* Header */
header {
    /* border: black;
    border-width: 1px;
    border-style: solid; */

}
/* Navigation */
.nav-bar {
    background: transparent;
    border-style: solid;
    position:relative;
    border-width: 3px;
    border-image: 
        linear-gradient(
            to left, hsla(214.1,100%,22.7%, 0) 0%,
            hsla(214.1,100%,22.7%,1) 50%, 
            hsla(214.1,100%,22.7%,0) 100%
        ) 0 0 100% 0/0 0 4px 0 stretch;
    width: 100%;
    margin-bottom: 17px;

}
.logo {
    margin-top: 8px; 
}


/* Main */
main {
    margin-top: 17px;

    display: flex;
    position: relative;
}

/* Side-Bar */
.side-bar {
    /* border: black;
    border-width: 1px;
    border-style: solid; */
    width: 100px;
    text-align: center;
    margin-left: 40px;
    height: 500px;

}
.neumorphism-button {
    margin-top: 45px;
    color: var(--blue);
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 70px;
    justify-content: center;
    border-radius: 100%;
    background: #dedede;
    box-shadow: 4px 4px 8px #bdbdbd, -4px -4px 8px #ffffff,
    inset 0px 0px 0px #bdbdbd, inset 0px 0px 0px #ffffff;
    transition: all 0.2s linear;
    position: relative;
    cursor: pointer;
    
}
.neumorphism-button:hover {
    color: #054982;
    text-shadow: 0 0 15px #054982;
    
}


/* Projects */
.projects {
    /* border: red;
    border-width: 1px;
    border-style: solid; */
    margin-left: 208px;
    width: 100%;
    margin-top: 8px;
}
.projects .row {
    justify-content: flex-start;
}

.card {
    background: #dde1e7;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.card:hover .circle {
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}

.card-img-overlay {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
.circle {
    margin-left: 25px;
    margin-top: 30px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}


/* About */
.about {
    color: var(--blue);
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
    margin-top: 23px;
}
.buttons {
    margin-top: 76px;
    /* border: rgb(80, 1, 69);
    border-width: 1px;
    border-style: solid; */
}
button {
    color: white;
    display: inline-block;
    background: var(--blue);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.skills {
    font-size: 30px;
}
button:hover {
    color: white;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.2);
    transform: translate(0px, -3px) scale(1.2);
}
button a {
    color: white;
}
button a:hover {
    color: white;
}
  

/* Media Query */
@media (min-width: 001px) {
    header {
        height: 375px;
        text-align: center;
    }
    main {
        padding-bottom: 109px;
    }
    .side-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: 0px;
    }
    .projects {
        margin-left: 0px;
    }
    .projects .row {
        justify-content: center;
    }
    .linkedin-icon {
        margin: 0px 15px;
    }
    html {
        margin: 0vh 1vh; 
    }
    ul {
        position:relative; 
        bottom:0px;
        list-style-type: none;
        font-size: 30px;
        margin-bottom: 10px;
        padding-left: 0px; 
    }
    .my-work {
        padding: 15px 0;
    }
}

@media (min-width: 390px) {
    header {
        height: 200px;
        display: flex;
    }
    .linkedin-icon {
        margin: 0px 60px;
    }
    ul {
        position: absolute;
        padding-left: 40px; 
        text-align: left;
    }
}

@media (min-width: 635px) {
    header {
        background-color:#dde1e7;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    ul {
        margin-bottom: 0px;
        text-align: justify;
        padding: 0px 40px;
        width: 100%;
        line-height: 9px;
        list-style-type: none;
    }
    ul:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    li {
        display: inline-block;
    }
    .projects .row {
        /* justify-content: start; */
        margin: 0 auto;
    }
}

@media (min-width: 750px) {
    .side-bar {
        width: 100px;
        /* font-size: 10vh; */
        text-align: center;
        margin-left: 36px;
        bottom: inherit;
        position: fixed;
    }
    .linkedin-icon {
        margin: 0px 0px;
    }
    .projects {
        margin-left: 208px;
        width: 100%;
    }
    .projects .row {
        justify-content: flex-start;
        margin: 0 0vh;
    }
    main {
        padding-bottom: 20px;
    }
    html {
        margin: 0vh 1vh; 
    }
}

@media (min-width: 751px) {
    .projects .row {
        justify-content: center;
    }
}

@media (min-width: 999px) {
    .projects .row {
        justify-content: start;
    }
}
